<nav class='navbar navbar-expand-sm navbar-dark bg-dark mb-3'>
	<div class='container'></div>
	<a class='navbar-brand' href='#'>Animal Database</a>
	<button
		class='navbar-toggler'
		type='button'
		data-toggle='collapse'
		data-target='#navbarNav'
		aria-controls='navbarNav'
		aria-expanded='false'
		aria-label='Toggle navigation'
	>
		<span class='navbar-toggler-icon'></span>
	</button>
	<div class='collapse navbar-collapse' id='navbarNav'>
		<nav>
			<ul>
			  <li><a href="/">Home</a></li>
			  <li><a href="/animal-list">Animal List</a></li>
			  <li><a href="/entry-form">Entry Form</a></li>
			</ul>
		  </nav>
		  
	</div>
</nav>