/* ------------------------------------------ nav bar/footer --------------------------------------------------*/

.navigation-bar {
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: opacity 1s ease; /* Smooth transition for opacity changes */
}
/* footer */
.container-footer {
    padding-left: 2%;
}
.btn.btn-outline-success {
    cursor: pointer;
    width: 90%;
    padding: 2%;
}

.nav-item#username-link a.nav-link {
    color: #ffffff;
    font-weight: 700;
    text-decoration: underline; 
}
/* ------------------------------------------ background --------------------------------------------------*/
body {
    height: 100%;
    width: 100%;
    background-image: url(../images/image1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    padding-bottom: 4%;

    animation-name: animate;
    animation-duration: 20s; /* Duration of the entire animation cycle */
    animation-timing-function: linear; /* Ensures uniform speed between keyframes */
    animation-iteration-count: infinite;
}

@keyframes animate {
    0%, 100% {
        background-image: url(../images/image1.png);
    }
    33.33% {
        background-image: url(../images/image2.png);
    }
    66.66% {
        background-image: url(../images/image3.png);
    }
}
/* ------------------------------------------ intext  --------------------------------------------------*/
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.section {
    height: 100vh;
    padding: 1rem;
}

.section__paragraph{
    margin: 1rem 0;
    transform: translateY(20px);
    opacity: 0; 
    transition: 3s ease;
    justify-content: center;
}
.section__paragraph--visable{
    transform: translateY(0);
    opacity: 1;
}

.headings{
    font-size:110px;
    color:white;
    text-shadow: 2px 2px 5px black;
    font-display: auto;
}
p{
    font-size: 25px;
    opacity: 0.3;
}

.my-4{
    border-width: 3px;
    border-color: white;
}

table.center {
    margin-left: auto; 
    margin-right: auto;
    margin-top: 50px;
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.581);
    color:white;
    text-shadow: 2px 2px 5px black;
  }
table.size {
    width: 97%; /* Adjust the width percentage as needed */
    max-width: 1900px; /* Adjust the maximum width as needed */
    padding : 50px;
    border-collapse: collapse;
    border-radius: 30px;
    margin-top: 50px;
}
th, td{
    padding: 10px;
    text-align: center;
}
caption.captions{
    font-size:50px;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    color: white;
}

/* ------------------------------------------ product page images  --------------------------------------------------*/

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  div.gallery:hover {
    border: 1px solid #777;
    box-shadow: 0 0 10px rgba(0, 0, 0, 2);
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    text-align: center;
  }
/* ------------------------------------------ Register and Login page  --------------------------------------------------*/

.outer-layer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 10%;
    padding-bottom: 10%;
}

.warper{
    width: 420px;
    background: transparent;
    background-color: rgba(128, 128, 128, 0.445);
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.356);
    box-shadow: 0 0 10px black;
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
}

.warper h1 {
    font-size: 36px;
    text-align: center;
    font-weight: 600;
}

.warper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    color: #ffff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #ffff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.warper .remeber-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 15px 0 15px;
}

.remeber-forgot label input {
    accent-color: #ffff;
    margin-right: 3px;
}

.remeber-forgot a {
    color: #ffff;
    text-decoration: none;
}

.remeber-forgot a:hover{
    text-decoration: underline;
}

.warper .btn{
    width: 100%;
    height: 45px;
    background: #ffff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.warper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p {
    color: #ffff;
    text-decoration: none;
    opacity: 1;
    font-size: 15px;
}
.register-link a {
    color: #ffff;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
}

.register-link p a:hover{
    text-decoration: underline;
}

#errorMessage {
    display: none; 
    color: red; 
    font-size: 10px; 
    margin-top: 5px;
}

/* ------------------------------------------ Blog Page  --------------------------------------------------*/

.container {
    background-color: rgba(0, 0, 0, 0.335);
    padding-top: 14px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: 3px solid black;
}