/* ------------------------------------------ nav bar --------------------------------------------------*/

.navigation-bar {
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

/* ------------------------------------------ background --------------------------------------------------*/
body {
    height: 100vh;
    width: 100%;
    background-image: url(../images/image1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed;

    animation-name: animate;
    animation-duration: 20s; /* Duration of the entire animation cycle */
    animation-timing-function: linear; /* Ensures uniform speed between keyframes */
    animation-iteration-count: infinite;
}

@keyframes animate {
    0%, 100% {
        background-image: url(../images/image1.png);
    }
    33.33% {
        background-image: url(../images/image2.png);
    }
    66.66% {
        background-image: url(../images/image3.png);
    }
}
/* ------------------------------------------ intext  --------------------------------------------------*/
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.section {
    height: 100vh;
    padding: 1rem;
}

.section__paragraph{
    margin: 1rem 0;
    transform: translateY(20px);
    opacity: 0; 
    transition: 3s ease;
    justify-content: center;
}
.section__paragraph--visable{
    transform: translateY(0);
    opacity: 1;
}

.headings{
    font-size:110px;
    color:white;
    text-shadow: 2px 2px 5px black;
    font-display: auto;
}
p{
    font-size: 25px;
    opacity: 0.3;
}

.my-4{
    border-width: 3px;
    border-color: white;
}

table.center {
    margin-left: auto; 
    margin-right: auto;
    margin-top: 50px;
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.581);
    color:white;
    text-shadow: 2px 2px 5px black;
  }
table.size {
    width: 97%; /* Adjust the width percentage as needed */
    max-width: 1900px; /* Adjust the maximum width as needed */
    padding : 50px;
    border-collapse: collapse;
    border-radius: 30px;
    margin-top: 50px;
}
th, td{
    padding: 10px;
    text-align: center;
}
caption{
    font-size:50px;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
    font-display: auto;
}

/* ------------------------------------------ product page images  --------------------------------------------------*/

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  div.gallery:hover {
    border: 1px solid #777;
    box-shadow: 0 0 10px rgba(0, 0, 0, 2);
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }